.tablet {
    position: relative;
    z-index: 1;
    height: calc(100vh - 65px - 15vh);
    width: 100%;
    background: url('~images/tablet.png') center no-repeat ;
    background-size: contain;
    padding: 65px 18px;
}

.tablet__content {
    height: 100%;
    width: 100%;
    background: url('~images/tabletImage.jpg') center no-repeat;
    background-size: contain;
}