@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:wght@400;700;800&display=swap');
@import url('https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css');
@import "normalize.css";
@import "./mixins.pcss";
@import "./layout/base.pcss";

@import './blocks/button.pcss';
@import './blocks/headerSection.pcss';
@import './blocks/tablet.pcss';
@import './blocks/calculatorSection.pcss';
@import './blocks/timersApp.pcss';
@import './blocks/footer.pcss';